// Import
@import "main";

body {
  margin: 0;
  padding: 0;
  @include background-grid($color: #e8b491);
}

#main {

  article { 
    padding: 10px 10px 10px 20px;
  }
  

  @include grid-span(2, 1);

  @include breakpoint($break) {
    @include grid-span(3, 1);
  }

  @include breakpoint($break2) {
    @include grid-span(8, 1);
  }

  @include breakpoint($break3) {
    @include grid-span(10, 1);
  }
}

aside {
  background: #EFE;
  padding: $content-padding;
  margin-bottom: 20px;
  @include grid-span(2, 1, $options: 'both');

  @include breakpoint($break) {
    @include grid-span(1, 4);
  }

  @include breakpoint($break2) {
    @include grid-span(4, 9);
  }

  @include breakpoint($break3) {
    @include grid-span(6, 11);
  }
}



