/*!
 * Frontend-Sass
 * My frontend playpen
 * 
 * @author Anthony Bouch
 * @version 0.0.1
 * Copyright 2014.  licensed.
 */

/*http://web-design-weekly.com/2013/05/12/handy-sass-mixins/*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_grid\.scss}line{font-family:\0000319}}
*, *:before, *:after {
  /* http://css-tricks.com/international-box-sizing-awareness-day/ */
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;
  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;
  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_header\.scss}line{font-family:\000031}}
header {
  background-color: rgba(200, 200, 200, 0.2);
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_header\.scss}line{font-family:\000036}}
header h1 {
  text-align: left;
  margin: 0;
  font-family: 'Pacifico', Helvetica, sans-serif;
  font-size: 2em;
  color: #222;
  text-shadow: 1px 1px 0px #2E2E2E;
  white-space: nowrap;
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_header\.scss}line{font-family:\0000318}}
  header h1 {
    font-size: 2em;
  }
}
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_header\.scss}line{font-family:\0000324}}
  header h1 {
    font-size: 3em;
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_header\.scss}line{font-family:\0000330}}
  header h1 {
    font-size: 4em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\000031}}
nav {
  background: #FFF;
  padding: 10px;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px 1px #cccccc;
  -moz-box-shadow: 0 3px 3px 1px #cccccc;
  box-shadow: 0 3px 3px 1px #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\000037}}
nav a {
  display: inline-block;
  text-decoration: none;
  padding: 4px 10px;
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000314}}
nav a:hover {
  padding: 3px 9px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: 1px #AAA solid;
  color: #555;
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000322}}
  nav a {
    padding: 6px 16px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000325}}
  nav a:hover {
    padding: 5px 15px;
  }
}
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000332}}
  nav a {
    padding: 8px 18px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000335}}
  nav a:hover {
    padding: 7px 17px;
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000342}}
  nav a {
    padding: 8px 18px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000345}}
  nav a:hover {
    padding: 7px 17px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000351}}
.isStuck {
  -webkit-box-shadow: 0 3px 4px 1px #777777;
  -moz-box-shadow: 0 3px 4px 1px #777777;
  box-shadow: 0 3px 4px 1px #777777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000355}}
.isStuck .logo {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000361}}
.logo {
  display: none;
  margin: 0 10px 0 0;
  padding: 0;
  font-family: 'Pacifico', Helvetica, sans-serif;
  font-size: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\000031}}
footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\000032}}
footer section {
  background: rgba(100, 100, 100, 0.2);
  padding: 10px;
  min-height: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000310}}
footer .section1 {
  width: 47.61905%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000311}}
footer .section2 {
  width: 47.61905%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000312}}
footer .section3 {
  width: 47.61905%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000313}}
footer .section4 {
  width: 47.61905%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\000031}}
  footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000318}}
  footer .section1 {
    width: 21.73913%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000319}}
  footer .section2 {
    width: 21.73913%;
    float: left;
    margin-right: -100%;
    margin-left: 26.08696%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000320}}
  footer .section3 {
    width: 21.73913%;
    float: left;
    margin-right: -100%;
    margin-left: 52.17391%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000321}}
  footer .section4 {
    width: 21.73913%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\000031}}
  footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000326}}
  footer .section1 {
    width: 23.94366%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000327}}
  footer .section2 {
    width: 23.94366%;
    float: left;
    margin-right: -100%;
    margin-left: 25.35211%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000328}}
  footer .section3 {
    width: 23.94366%;
    float: left;
    margin-right: -100%;
    margin-left: 50.70423%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000329}}
  footer .section4 {
    width: 23.94366%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\000031}}
  footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000335}}
  footer .section1 {
    width: 24.21053%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000336}}
  footer .section2 {
    width: 24.21053%;
    float: left;
    margin-right: -100%;
    margin-left: 25.26316%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000337}}
  footer .section3 {
    width: 24.21053%;
    float: left;
    margin-right: -100%;
    margin-left: 50.52632%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000338}}
  footer .section4 {
    width: 24.21053%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000342}}
footer {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\000034}}
body {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000310}}
#main {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000312}}
#main article {
  padding: 10px 10px 10px 20px;
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000310}}
  #main {
    width: 73.91304%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000310}}
  #main {
    width: 66.19718%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000310}}
  #main {
    width: 62.10526%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000332}}
aside {
  background: #EFE;
  padding: 10px;
  margin: 20px 0;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000332}}
  aside {
    width: 21.73913%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000332}}
  aside {
    width: 32.39437%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000332}}
  aside {
    width: 36.84211%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
