/*!
 * Frontend-Sass
 * My frontend playpen
 * 
 * @author Anthony Bouch
 * @version 0.0.1
 * Copyright 2014.  licensed.
 */

/*http://web-design-weekly.com/2013/05/12/handy-sass-mixins/*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_grid\.scss}line{font-family:\0000319}}
*, *:before, *:after {
  /* http://css-tricks.com/international-box-sizing-awareness-day/ */
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;
  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;
  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_header\.scss}line{font-family:\000031}}
header {
  background-color: rgba(200, 200, 200, 0.2);
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_header\.scss}line{font-family:\000036}}
header h1 {
  text-align: left;
  margin: 0;
  font-family: 'Pacifico', Helvetica, sans-serif;
  font-size: 2em;
  color: #222;
  text-shadow: 1px 1px 0px #2E2E2E;
  white-space: nowrap;
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_header\.scss}line{font-family:\0000318}}
  header h1 {
    font-size: 2em;
  }
}
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_header\.scss}line{font-family:\0000324}}
  header h1 {
    font-size: 3em;
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_header\.scss}line{font-family:\0000330}}
  header h1 {
    font-size: 4em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\000031}}
nav {
  background: #FFF;
  padding: 10px;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px 1px #cccccc;
  -moz-box-shadow: 0 3px 3px 1px #cccccc;
  box-shadow: 0 3px 3px 1px #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\000037}}
nav a {
  display: inline-block;
  text-decoration: none;
  padding: 4px 8px;
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000314}}
nav a:hover {
  padding: 3px 7px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: 1px #AAA solid;
  color: #555;
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000322}}
  nav a {
    padding: 6px 16px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000325}}
  nav a:hover {
    padding: 5px 15px;
  }
}
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000332}}
  nav a {
    padding: 8px 18px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000335}}
  nav a:hover {
    padding: 7px 17px;
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000342}}
  nav a {
    padding: 8px 18px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000345}}
  nav a:hover {
    padding: 7px 17px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000351}}
.isStuck {
  -webkit-box-shadow: 0 3px 4px 1px #777777;
  -moz-box-shadow: 0 3px 4px 1px #777777;
  box-shadow: 0 3px 4px 1px #777777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000355}}
.isStuck .logo {
  display: block;
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000355}}
  .isStuck .logo {
    display: inline-block;
  }
}
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000355}}
  .isStuck .logo {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000355}}
  .isStuck .logo {
    display: inline-block;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_nav\.scss}line{font-family:\0000362}}
.logo {
  display: none;
  margin: 0 10px 0 0;
  padding: 0;
  font-family: 'Pacifico', Helvetica, sans-serif;
  font-size: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\000031}}
footer {
  -sgs-span-settings: ("span": 2, "location": 1, "grid": 2, "gutter": 0.2, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\000032}}
footer section {
  background: rgba(100, 100, 100, 0.2);
  padding: 10px;
  min-height: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000311}}
footer .section1 {
  -sgs-span-settings: ("span": 2, "location": 1, "grid": 2, "gutter": 0.1, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000312}}
footer .section2 {
  -sgs-span-settings: ("span": 2, "location": 1, "grid": 2, "gutter": 0.1, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000313}}
footer .section3 {
  -sgs-span-settings: ("span": 2, "location": 1, "grid": 2, "gutter": 0.1, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000314}}
footer .section4 {
  -sgs-span-settings: ("span": 2, "location": 1, "grid": 2, "gutter": 0.1, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\000031}}
  footer {
    -sgs-span-settings: ("span": 4, "location": 1, "grid": 4, "gutter": 0.2, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000319}}
  footer .section1 {
    -sgs-span-settings: ("span": 1, "location": 1, "grid": 4, "gutter": 0.2, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 21.73913%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000320}}
  footer .section2 {
    -sgs-span-settings: ("span": 1, "location": 2, "grid": 4, "gutter": 0.2, "style": "opposite", "start row": false, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 21.73913%;
    float: left;
    margin-right: -100%;
    margin-left: 26.08696%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000321}}
  footer .section3 {
    -sgs-span-settings: ("span": 1, "location": 3, "grid": 4, "gutter": 0.2, "style": "opposite", "start row": false, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 21.73913%;
    float: left;
    margin-right: -100%;
    margin-left: 52.17391%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000322}}
  footer .section4 {
    -sgs-span-settings: ("span": 1, "location": 4, "grid": 4, "gutter": 0.2, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 21.73913%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\000031}}
  footer {
    -sgs-span-settings: ("span": 12, "location": 1, "grid": 12, "gutter": 0.2, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000327}}
  footer .section1 {
    -sgs-span-settings: ("span": 3, "location": 1, "grid": 12, "gutter": 0.2, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 23.94366%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000328}}
  footer .section2 {
    -sgs-span-settings: ("span": 3, "location": 4, "grid": 12, "gutter": 0.2, "style": "opposite", "start row": false, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 23.94366%;
    float: left;
    margin-right: -100%;
    margin-left: 25.35211%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000329}}
  footer .section3 {
    -sgs-span-settings: ("span": 3, "location": 7, "grid": 12, "gutter": 0.2, "style": "opposite", "start row": false, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 23.94366%;
    float: left;
    margin-right: -100%;
    margin-left: 50.70423%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000330}}
  footer .section4 {
    -sgs-span-settings: ("span": 3, "location": 10, "grid": 12, "gutter": 0.2, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 23.94366%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\000031}}
  footer {
    -sgs-span-settings: ("span": 16, "location": 1, "grid": 16, "gutter": 0.2, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000336}}
  footer .section1 {
    -sgs-span-settings: ("span": 4, "location": 1, "grid": 16, "gutter": 0.2, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 24.21053%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000337}}
  footer .section2 {
    -sgs-span-settings: ("span": 4, "location": 5, "grid": 16, "gutter": 0.2, "style": "opposite", "start row": false, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 24.21053%;
    float: left;
    margin-right: -100%;
    margin-left: 25.26316%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000338}}
  footer .section3 {
    -sgs-span-settings: ("span": 4, "location": 9, "grid": 16, "gutter": 0.2, "style": "opposite", "start row": false, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 24.21053%;
    float: left;
    margin-right: -100%;
    margin-left: 50.52632%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000339}}
  footer .section4 {
    -sgs-span-settings: ("span": 4, "location": 13, "grid": 16, "gutter": 0.2, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 24.21053%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/layout\/_footer\.scss}line{font-family:\0000343}}
footer {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\000034}}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #dddddd 0%, #dddddd 45.45455%, #e5e5e5 45.45455%, #e5e5e5 54.54545%, #dddddd 54.54545%, #dddddd);
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\000034}}
  body {
    background-image: linear-gradient(to right, #dddddd 0%, #dddddd 21.73913%, #e5e5e5 21.73913%, #e5e5e5 26.08696%, #dddddd 26.08696%, #dddddd 47.82609%, #e5e5e5 47.82609%, #e5e5e5 52.17391%, #dddddd 52.17391%, #dddddd 73.91304%, #e5e5e5 73.91304%, #e5e5e5 78.26087%, #dddddd 78.26087%, #dddddd);
  }
}
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\000034}}
  body {
    background-image: linear-gradient(to right, #dddddd 0%, #dddddd 7.04225%, #e5e5e5 7.04225%, #e5e5e5 8.4507%, #dddddd 8.4507%, #dddddd 15.49296%, #e5e5e5 15.49296%, #e5e5e5 16.90141%, #dddddd 16.90141%, #dddddd 23.94366%, #e5e5e5 23.94366%, #e5e5e5 25.35211%, #dddddd 25.35211%, #dddddd 32.39437%, #e5e5e5 32.39437%, #e5e5e5 33.80282%, #dddddd 33.80282%, #dddddd 40.84507%, #e5e5e5 40.84507%, #e5e5e5 42.25352%, #dddddd 42.25352%, #dddddd 49.29577%, #e5e5e5 49.29577%, #e5e5e5 50.70423%, #dddddd 50.70423%, #dddddd 57.74648%, #e5e5e5 57.74648%, #e5e5e5 59.15493%, #dddddd 59.15493%, #dddddd 66.19718%, #e5e5e5 66.19718%, #e5e5e5 67.60563%, #dddddd 67.60563%, #dddddd 74.64789%, #e5e5e5 74.64789%, #e5e5e5 76.05634%, #dddddd 76.05634%, #dddddd 83.09859%, #e5e5e5 83.09859%, #e5e5e5 84.50704%, #dddddd 84.50704%, #dddddd 91.5493%, #e5e5e5 91.5493%, #e5e5e5 92.95775%, #dddddd 92.95775%, #dddddd);
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\000034}}
  body {
    background-image: linear-gradient(to right, #dddddd 0%, #dddddd 5.26316%, #e5e5e5 5.26316%, #e5e5e5 6.31579%, #dddddd 6.31579%, #dddddd 11.57895%, #e5e5e5 11.57895%, #e5e5e5 12.63158%, #dddddd 12.63158%, #dddddd 17.89474%, #e5e5e5 17.89474%, #e5e5e5 18.94737%, #dddddd 18.94737%, #dddddd 24.21053%, #e5e5e5 24.21053%, #e5e5e5 25.26316%, #dddddd 25.26316%, #dddddd 30.52632%, #e5e5e5 30.52632%, #e5e5e5 31.57895%, #dddddd 31.57895%, #dddddd 36.84211%, #e5e5e5 36.84211%, #e5e5e5 37.89474%, #dddddd 37.89474%, #dddddd 43.15789%, #e5e5e5 43.15789%, #e5e5e5 44.21053%, #dddddd 44.21053%, #dddddd 49.47368%, #e5e5e5 49.47368%, #e5e5e5 50.52632%, #dddddd 50.52632%, #dddddd 55.78947%, #e5e5e5 55.78947%, #e5e5e5 56.84211%, #dddddd 56.84211%, #dddddd 62.10526%, #e5e5e5 62.10526%, #e5e5e5 63.15789%, #dddddd 63.15789%, #dddddd 68.42105%, #e5e5e5 68.42105%, #e5e5e5 69.47368%, #dddddd 69.47368%, #dddddd 74.73684%, #e5e5e5 74.73684%, #e5e5e5 75.78947%, #dddddd 75.78947%, #dddddd 81.05263%, #e5e5e5 81.05263%, #e5e5e5 82.10526%, #dddddd 82.10526%, #dddddd 87.36842%, #e5e5e5 87.36842%, #e5e5e5 88.42105%, #dddddd 88.42105%, #dddddd 93.68421%, #e5e5e5 93.68421%, #e5e5e5 94.73684%, #dddddd 94.73684%, #dddddd);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000310}}
#main {
  -sgs-span-settings: ("span": 2, "location": 1, "grid": 2, "gutter": 0.2, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000312}}
#main article {
  padding: 10px 10px 10px 20px;
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000310}}
  #main {
    -sgs-span-settings: ("span": 3, "location": 1, "grid": 4, "gutter": 0.2, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 73.91304%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000310}}
  #main {
    -sgs-span-settings: ("span": 8, "location": 1, "grid": 12, "gutter": 0.2, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 66.19718%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000310}}
  #main {
    -sgs-span-settings: ("span": 10, "location": 1, "grid": 16, "gutter": 0.2, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 62.10526%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000332}}
aside {
  background: #EFE;
  padding: 10px;
  margin: 20px 0;
  -sgs-span-settings: ("span": 2, "location": 1, "grid": 2, "gutter": 0.2, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": (("both": null)));
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000332}}
  aside {
    -sgs-span-settings: ("span": 1, "location": 4, "grid": 4, "gutter": 0.2, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 21.73913%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000332}}
  aside {
    -sgs-span-settings: ("span": 4, "location": 9, "grid": 12, "gutter": 0.2, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 32.39437%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tony\/Projects\/Frontend\/Sass\/app\/scss\/style\.scss}line{font-family:\0000332}}
  aside {
    -sgs-span-settings: ("span": 6, "location": 11, "grid": 16, "gutter": 0.2, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 36.84211%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
