@mixin minigrid_aspect($width, $aspect: 1) {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
    li {
      text-align: center;
      display: inline-block;
      position: relative;
      width: $width;
      height: auto;
      margin: 3px;
      float: left;
      background-color: #EEE;

      span {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    li:before{
      content: "";
      display: block;
      padding-top: $aspect * 100%;  /* see http://jsfiddle.net/simevidas/PFPDU/ */
    }
  }
}