footer {
  section {
    background: rgba(100,100,100,0.2); 
    padding: $content-padding;
    min-height: 3em;
  }
  
  @include grid-span(2, 1);
  
  @include layout($gutter: .1) {   
    .section1 { @include grid-span(2, 1);}
    .section2 { @include grid-span(2, 1);}
    .section3 { @include grid-span(2, 1);}
    .section4 { @include grid-span(2, 1);}
  }

  @include breakpoint($break) {
    @include grid-span(8, 1);
    .section1 {@include grid-span(2,1);}
    .section2 {@include grid-span(2,3);}
    .section3 {@include grid-span(2,5);}
    .section4 {@include grid-span(2,7);}
  }

  @include breakpoint($break2) {
    @include grid-span(12, 1);
    .section1 {@include grid-span(3,1);}
    .section2 {@include grid-span(3,4);}
    .section3 {@include grid-span(3,7);}
    .section4 {@include grid-span(3,10);}

  }

  @include breakpoint($break3) {
    @include grid-span(16, 1);
    .section1 {@include grid-span(4,1);}
    .section2 {@include grid-span(4,5);}
    .section3 {@include grid-span(4,9);}
    .section4 {@include grid-span(4,13);}
  }
}

footer {
  clear: both;
}