// Singularity 1.2 Syntax
@include sgs-change('debug', true);
@include sgs-change('mobile first', true);
@include sgs-change('output', 'isolation');
//@include sgs-change('include clearfix', true);

$content-padding: 10px;

$small: 770px;
$medium: 900px;
$large: 1200px;

@include add-grid(2);
@include add-grid(8 at $small);
@include add-grid(12 at $medium);
@include add-grid(16 at $large);
@include add-gutter(0.1);
@include add-gutter(.1 at $small);
@include add-gutter(.25 at $medium);
@include add-gutter(.25 at $large);

*, *:before, *:after {
  @include box-sizing(border-box);
}