nav {
  background: #FFF; 
  padding: $content-padding;
  width: 100%;
  @include box-shadow(0, 3px, 3px, 1px, #CCC, false);

  a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 10px;
    color: #000;
  }

  a:hover {
    padding: 3px 9px;
    @include border-radius(2px);
    border: 1px #AAA solid;
    color: #555;
  }

  @include breakpoint($break) {
    a {
      padding: 6px 16px;
    }
    a:hover {
      padding: 5px 15px;
    }
  }

  @include breakpoint($break2) {

    a {
      padding: 8px 18px;
    }
    a:hover {
      padding: 7px 17px;
    }
    
  }

  @include breakpoint($break3) {
    a {
      padding: 8px 18px;
    }
    a:hover {
      padding: 7px 17px;
    }
  }
}

.isStuck {
  @include box-shadow(0, 3px, 4px, 1px, #777, false);
}

.isStuck .logo {
  display: inline-block;
}



.logo {
  display: none;
  margin: 0 10px 0 0;
  padding: 0;
  font-family: 'Pacifico', Helvetica, sans-serif;
  font-size: 1.5em;
}